<launch>

  <param name="param" value="$(arg map)"/>
  <env name="ROS_IP" value="10.104.66.16"/>

  <!-- TURN ON THE ROBOT-->
  <node
    name="RosAria"
    pkg="rosaria"
    type="RosAria"
    respawn="false"
    output="screen"
    args="/RosAria/cmd_vel:=cmd_vel">
    args="/RosAria/S3Series_1_laserscan:=scan">
    <param name="port" value="/dev/ttyUSB0" />
    <param name="baud" value="57600" />
    <param name="publish_aria_lasers" value="true" />
  </node>

  <!-- SETUP THE FRAMES -->
  <node
    pkg="lx_navigation"
    name="tf_broadcaster"
    type="tf_broadcaster"
  />

  <!-- USE A LASER FILTER -->
  <node pkg="laser_filters" type="scan_to_scan_filter_chain" name="laser_filter">
    <rosparam command="load" file="$(find lx_navigation)/params/laser_config.yaml" />
    <remap from="scan" to="/RosAria/S3Series_1_laserscan" />
  </node>

  <!--	<arg name="map_file" default="$(find lx_2dnav)/maps/$(arg map).yaml"/> -->

  <!-- TURN ON THE MAP SERVER -->
  <node name="map_server" pkg="map_server" type="map_server" args="/home/thill/lx_ros/src/lx_navigation/maps/$(arg map).yaml" />

  <!-- TURN ON AMCL -->
  <node name="amcl" pkg="amcl" type="amcl" args="scan:=/RosAria/S3Series_1_laserscan" />

  <!-- TURN ON THE NAVIGATION -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen" args="odom:=/RosAria/pose">

    <param name="controller_frequency" value="5.0"/>

    <!-- Choose which planners to use   -->
    <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
    <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS"/>

    <!-- find the parameter files for the planners (note the Teb param file is not called Teb... (fix this someday))-->
    <rosparam file="$(find lx_navigation)/params/global_planner_params.yaml" command="load" ns="base_global_planner" />
    <rosparam file="$(find lx_navigation)/params/base_local_planner_params.yaml" command="load" />

    <!-- find the parameter files for costmaps-->
    <rosparam file="$(find lx_navigation)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find lx_navigation)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find lx_navigation)/params/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find lx_navigation)/params/global_costmap_params.yaml" command="load" />



  </node>

</launch>
